{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">
                Search for Movie:
            </label>
            <input type="text" class="form-control" name="searchMovie" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for: {{ searchTerm }}</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="{{ movie.image.url }}" alt="Movie image" />
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                    <p class="card-text"><strong>Genre:</strong> {{ movie.genre }}</p>
                    <p class="card-text"><strong>Year:</strong> {{ movie.year }}</p>
                    {% if movie.url %}
                    <a href="{{ movie.url }}" class="btn btn-primary">
                        Movie Link
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br />
    <br />
</div>
{% endblock content %}
